/* Set the font family to 'Plus Jakarta Sans' from google fonts and set it to a weight of 700 */
html {
    font-family: "Plus Jakarta Sans", Arial, sans-serif;
    font-weight: 700;
}

body {
    background-color: rgb(14, 14, 14);
    color: white;
}

a {
    text-decoration: none;
    color: rgb(0, 194, 194);
}

a:hover {
    text-decoration: underline;
}

/* h1 */
h1 {
    text-align: center;
    font-size: 3em;
    text-shadow: 0px 5px 15px rgb(0, 194, 194);
}

h2 {
    text-transform: uppercase;
}

/* Tools heading */
#table-heading {
    font-size: 2rem;
}

/* For all table head elements */
.table-heads {
    font-size: 1.3rem;
    text-decoration: underline white;
}