/* Set the font family to 'Plus Jakarta Sans' from google fonts and set it to a weight of 700 */
html {
    font-family: "Plus Jakarta Sans", Arial, sans-serif;
    font-weight: 700;
}

body {
    background-color: rgb(19, 19, 19);
    color: rgb(31, 253, 31);
    line-height: 32px;
}

/* This wil set the font weight for <p>, <li> and <td> elements in one css rule */
p, li, td {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: rgb(154, 255, 175);
}

a:hover {
    text-decoration: underline;
}

/* h1 */
h1 {
    text-align: center;
    font-size: 3em;
    text-shadow: 5px 5px 10px rgb(31, 253, 31, 0.7);
}

h2 {
    text-transform: uppercase;
    font-size: 1.5em;
}

/* Tools heading */
#table-heading {
    font-size: 2rem;
}

/* For all table head elements */
.table-heads {
    font-size: 1.3rem;
    text-decoration: dotted underline rgb(255, 255, 255);
}

/* This will set contact info in the top to center */
.contact {
    text-align: center;
}